include ../../components/index
include ../../components/logo
include ../../components/nav
include ../../components/social

-
  let data = [
    {'status': '', 'link': 'https://rtraveler.ru/', 'img': 'rt.jpg', 'imgClass': '', 'title': 'Russian Traveler'},
    //- {'status': '', 'link': 'https://awards.rtraveler.ru/', 'img': 'herbhunters.jpg', 'imgClass': '', 'title': 'Russian Traveler Awards 2023'},
    {'status': '', 'link': 'https://awards22.rtraveler.ru/', 'img': 'rtawards.jpg', 'imgClass': 'left', 'title': 'Russian Traveler Awards 2022'},
    {'status': '', 'link': 'https://www.agroinvestor.ru/', 'img': 'agro.jpg', 'imgClass': '', 'title': 'Агроинвестор'},
    {'status': '', 'link': 'https://award.agroinvestor.ru/', 'img': 'agroawards.jpg', 'imgClass': '', 'title': 'Агроинвестор года - 2022'},
    {'status': '', 'link': 'https://bees.agroinvestor.ru/', 'img': 'agrobee.jpg', 'imgClass': 'left', 'title': 'Защитим пчёл вместе'},
    {'status': '', 'link': 'https://rosatom.rtraveler.ru/', 'img': 'rtatom.jpg', 'imgClass': 'left', 'title': 'Атомная энергетика - РОСАТОМ'},
    {'status': '', 'link': 'http://experum.ru/tax-safety', 'img': 'experumsafe.jpg', 'imgClass': 'left', 'title': 'Налоговая безопасность – Experum'},
    {'status': '', 'link': 'http://democracymuseum.ru', 'img': 'demmuseum.jpg', 'imgClass': 'left', 'title': ' Музей Рождения Демократиии в Современной России'},
    {'status': '', 'link': 'https://kartaistorii.ru/s1', 'img': 'kartaistorii.jpg', 'imgClass': '', 'title': 'Неединая Россия. 1920-е годы. Карта истории'},
    {'status': '', 'link': 'http://course.mkkk.org', 'img': 'mkkk.jpg', 'imgClass': '', 'title': 'Тренинг МККК для журналистов'},
    {'status': '', 'link': 'https://ecoatom.rtraveler.ru/', 'img': 'rtecoatom.jpg', 'imgClass': 'left', 'title': '«Зелёный» атом и его возможности'},
    {'status': '', 'link': 'https://oppo.rtraveler.ru/', 'img': 'rtoppo.jpg', 'imgClass': 'left', 'title': 'Специальный проект OPPO и Russian Traveler'},
    {'status': 'hide', 'link': 'https://cordiant.rtraveler.ru/', 'img': 'rtcordiant.jpg', 'imgClass': 'left', 'title': 'Вокруг Лета с Cordiant: Планируем летние автопутешествия'},
    {'status': 'hide', 'link': 'https://tecno.rtraveler.ru/', 'img': 'rttecno.jpg', 'imgClass': '', 'title': 'Пластик на пользу'},
    {'status': 'hide', 'link': 'https://souzmult.rtraveler.ru/', 'img': 'rtsouzmult.jpg', 'imgClass': '', 'title': 'Специальный проект National Geographic Россия и Союзмультфильм'},
    {'status': 'hide', 'link': 'https://sheldr.jbl.rtraveler.ru/', 'img': 'rtjbl.jpg', 'imgClass': '', 'title': 'Фотовыставка «Полуостров текстур – Камчатка»'},
    {'status': 'hide', 'link': 'https://kinder.rtraveler.ru/', 'img': 'rtkinder.jpg', 'imgClass': 'left', 'title': 'Специальный проект о сайгаках Kinder, WWF и National Geographic Россия'},
    {'status': 'hide', 'link': 'https://honor.rtraveler.ru/', 'img': 'rthonor.jpg', 'imgClass': 'left', 'title': 'Совместный проект Honor и National Geographic Россия'},
    {'status': 'hide', 'link': 'https://hills.rtraveler.ru/', 'img': 'rthills.jpg', 'imgClass': '', 'title': 'От идеи до дегустации: как создаются правильные корма для животных'},
    {'status': 'hide', 'link': 'https://samsung.rtraveler.ru/', 'img': 'rtsamsung.jpg', 'imgClass': '', 'title': 'Наша #СтранаКосмос'},
    {'status': 'hide', 'link': 'https://samsunggalaxycamera.rtraveler.ru/', 'img': 'rtsamsunggcamera.jpg', 'imgClass': '', 'title': '10 мест для лучшего зимнего отдыха – Вместе с Samsung Galaxy S21 Ultra'},
    {'status': 'hide', 'link': 'https://ru.siberianhealth.com/ru/new-year2018', 'img': 'sibny2018.jpg', 'imgClass': '', 'title': 'Корпорация Сибирское здоровье'},
    {'status': 'hide', 'link': 'https://herbhunters.ru', 'img': 'sibheadh.jpg', 'imgClass': '', 'title': 'Охотники за травами 2'},
    {'status': 'hide', 'link': 'https://www.agroinvestor.ru/test-drive/cnh/', 'img': 'agrotestdrive.jpg', 'imgClass': '', 'title': 'New Holland FR'},
  ]

mixin homeContent()
  .container
     section.section.flex
      h1.title Portfolio A.M.
      .cards
        each item in data
          +card(
            item.status,
            item.link,
            item.img,
            item.imgClass,
            item.title
          )
      button.btn.btn-more.js-btn-more.
        показать ещё
