@import "variables";
@import "mixins";

html {
  // height: 100%;
  min-height: 100%;
  font-size: $basicFontSize;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
ol,
ul,
input,
button,
textarea,
blockquote {
  padding: 0;
  margin: 0;
}

body {
  max-width: 2560px;
  margin: 0 auto;
  height: 100%;
  font-family: $openSans;
  color: $black;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

  &.inactive {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  transition: $basicTransition;

  &:link {
    text-decoration: none;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;

  &.cover {
    height: 100%;
    object-fit: cover;
  }

  &.contain {
    height: 100%;
    object-fit: contain;
  }
}

button,
input,
textarea,
select {
  border: none;
  background: none;
  outline: none;
}

button {

  &.disable {
    pointer-events: none;
  }
}

// .container {
//   width: 1440px;
//   max-width: 100%;
//   margin: 0 auto;
//   padding: 0;
//   box-sizing: border-box;
// }
