include ../layouts/head/head
include ../layouts/components/header
include ../layouts/components/footer

doctype html
html(lang='ru')
  head
    +head('Main', '')

  body
    .site.page-main
      +header
      main.content
        //- .container
        h1 hello world
      +footer
    +scripts