// File for scss-vars.
// For example: main colors, paddings and so on.

// Device dimensions

$phone: 320px;
$xxs: 375px;
$xs: 479px;
$mobile: 639px;
$sm: 767px;
$md: 1024px;
$wd: 1279px;
$lg: 1439px;
$xxl: 1919px;

// Colors

$white: #fff;
$colorPrimary: #005387;
$colorSecondary: #172430;

// Font size

$basic-font-size: 10px;
$ptSans: 'PTSans';
$oswald: 'Oswald';
