mixin header()
    header.header
        .header__wrap
            p.text.text--white 8 800 500 50 50
            .header__logo
                img.heder__logo-img(src="%=static=%img/general/logo.png", alt="")
            a.header__link.text.text--white(href="#") call to order
        nav.header__nav
            a.header__nav-link.text.text--white(href="#") Home
            a.header__nav-link.text.text--white(href="#") About Us
            a.header__nav-link.text.text--white(href="#") Gallery   
            a.header__nav-link.text.text--white(href="#") Consultation
            a.header__nav-link.text.text--white(href="#") Testimonials
            a.header__nav-link.text.text--white(href="#") Contacts