/* Your custom fonts here */

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: 
    url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: 
    url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: 
    url('../fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: 
    url('../fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff');
}

// Thin: 100
// ExtraLight: 200
// Light: 300
// Regular: 400
// Medium: 500
// SemiBold: 600
// Bold: 700
// ExtraBold: 800
// Black: 900
