// Device dimensions

$phone: 320px;
$xxs: 374px;
$xs: 479px;
$mobile: 639px;
$sm: 767px;
$md: 1024px;
$wd: 1279px;
$lg: 1439px;
$xxl: 1919px;

// Colors

$black: #000;
$mineShaft: #333;
$white: #fff;

// Font size

$basicFontSize: 10px;
$primaryFont: 'Open Sans', 'Helvetica', sans-serif;
// $secondaryFont: 'Open Sans', 'Helvetica', sans-serif;

//others

$overlay: rgba($black, 0.5);
$basicTransition: all 0.3s;
