# dependencies
node_modules
package-lock.json

# editors
.idea
.vscode

# misc
.DS_Store

# data
/docker/data/*
/django_app/media/*
/django_app/static/*
/public/

# extensions
*.pyc
*.swp
*.rdb
*.log
*.ipynb
*.sqlite3
*.sql

# git
/.git/
!.gitignore
!/**/.gitkeep
