doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/card-item/card-item.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body
        |%=symbols=%
        .l-container
            h1.page-title Portfolio
            section
                ul.card-list
                    +card_item('',
                        'http://democracymuseum.ru',
                        'democracymuseum.jpg',
                        'Музей демократии',
                        'Музей демократии'
                    )
                    +card_item('',
                        'https://herbhunters.ru',
                        'herbhunters.jpg',
                        'Охотники за травами 3',
                        'Охотники за травами 3'
                    )
                    +card_item('',
                        'http://worldaroundyou.org',
                        'worldaround.jpg',
                        'Мир вокруг тебя',
                        'Мир вокруг тебя'
                    )
                    +card_item('',
                        'http://exportcenter.rbc.ru',
                        'exportcenter_rbc.jpg',
                        'Экспоцентр. РБК',
                        'Экспоцентр. РБК'
                    )
                    +card_item('',
                        'https://kartaistorii.ru',
                        'kartaistorii.jpg',
                        'Карта Истории',
                        'Карта Истории'
                    )
                    +card_item('',
                        'http://course.mkkk.org',
                        'redcross.jpg',
                        'Тренинг МККК для журналистов',
                        'Тренинг МККК для журналистов'
                    )
                    +card_item('',
                        'http://siberiantransformation.ru',
                        'sibtrans.jpg',
                        'Siberian Transformation 3.0',
                        'Siberian Transformation 3.0'
                    )
                    +card_item('',
                        'http://oxford.dev.cafeservidor.com',
                        'oxford.jpg',
                        'Oxford Russia Fund',
                        'Oxford Russia Fund'
                    )
                    +card_item('',
                        'http://www.xn--c1acaefmnthbblr6n.xn--p1ai',
                        'olympic_fire.jpg',
                        'Огонь поддержки',
                        'Огонь поддержки'
                    )
                    +card_item('',
                        'http://prof-future.ru',
                        'future.jpg',
                        'Выбери свое будущее',
                        'Выбери свое будущее'
                    )
                    +card_item('',
                        'https://ru.siberianhealth.com/ru/new-year2018',
                        'sib_card_2018.jpg',
                        'Создай свою открытку',
                        'Создай свою открытку'
                    )
                    +card_item('',
                        'http://ignacio.dev.cafeservidor.com',
                        'ignacio.jpg',
                        'Дизайн-агенство Игнатия Филиппова',
                        'Дизайн-агенство Игнатия Филиппова'
                    )
                    +card_item('archive',
                        'http://xn--e1aliadgiil4bl.xn--p1ai',
                        'magnit.jpg',
                        'Магнит: Просто лучше',
                        'Магнит: Просто лучше (архив)'
                    )
                    +card_item('archive',
                        'https://herbhunters.ru',
                        'herbhunters_season_2.jpg',
                        'Охотники за травами 2',
                        'Охотники за травами 2 (архив)'
                    )
                    +card_item('archive',
                        'http://siberiantransformation.ru',
                        'sibtrans_season_1.jpg',
                        'Siberian Transformation',
                        'Siberian Transformation (архив)'
                    )
            +footer()
