doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/card-item/card-item.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%
        p Hello World!!!
        +footer()
