doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body
        |%=symbols=%

        .l-grid
            +header()

            section.section
                arcticle.section__miami
                    .section__miami-title
                        h2.text.text--title Miami <strong>best</strong> Realry
                            span —  this
                    .section__miami-text
                        p.text.text--bold.
                            Over 50 years experience in love.
                        p.text.
                            Mazel and VA Tsukkerman in his "Analysis of musical works." Pointillism, which originated in the music of the early twentieth century, microforms, found a distant historical.
                        ol.section__miami-list
                            li.section__miami-item
                                p.text The market leader in real estate since 2003
                            li.section__miami-item
                                p.text Awards Real Estate Company, 2010, 2011, 2013
                            li.section__miami-item
                                p.text More than 200 satisfied customers premium segment
                            li.section__miami-item
                                p.text We focus only on new buildings and high-level<br> doskanalno know this area better than other specialists.
                            li.section__miami-item
                                p.text Working directly with developers - so have more<br> useful information about the profitable deals
                        p.text.text--bold We will never late!<br>Guaranteed secure transaction - 100%
            section.section.section--grey
                article.section__gallery
                    .section__gallery-title
                        h2.text.text--title Gallery
                    .section__gallery-list
                        .section__gallery-item
                            .section__gallery-photo
                                .section__gallery-img
                                    img(src="%=static=%img/content/gallery_photo.jpg", alt="")
                                .section__gallery-img
                                    img(src="%=static=%img/content/gallery_photo_2.jpg", alt="")
                            p.text.text--bold Marina Palms / 
                                span North Miami Beach, FL 33162
                        .section__gallery-item
                            .section__gallery-photo
                                .section__gallery-img
                                    img(src="%=static=%img/content/gallery_photo_3.jpg", alt="")
                                .section__gallery-img
                                    img(src="%=static=%img/content/gallery_photo_4.jpg", alt="")
                            p.text.text--bold Edition Residens / 
                                span Miami Beach, FL 33139
                        .section__gallery-item
                            .section__gallery-photo
                                .section__gallery-img
                                    img(src="%=static=%img/content/gallery_photo_5.jpg", alt="")
                                .section__gallery-img
                                    img(src="%=static=%img/content/gallery_photo_6.jpg", alt="")
                            p.text.text--bold Faena House / 
                                span Miami Beach, FL 33140
                    a.section__gallery-btn(href="#") View all

            +footer()

        