mixin head(title)
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  title= title
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no")
  meta(content="telephone=no", name="format-detection")
  meta(name="HandheldFriendly", content="true")
  meta(name="description", content="")
  meta(name="keywords", content="")
  
  //- <link href="/static/css/vendor/vendor.css" rel="stylesheet" type="text/css">
  |<!--[if IE 8 ]><link href="static/css/main.css" rel="stylesheet" type="text/css"><![endif]-->
  |<!--[if IE 9 ]><link href="static/css/main.css" rel="stylesheet" type="text/css"><![endif]-->
  |<!--[if (gt IE 9)|!(IE)]><!--><link href="/static/css/main.css" rel="stylesheet" type="text/css"><!--<![endif]-->

  meta(property="og:type" content="article")
  meta(property="og:site_name" content="")
  meta(property="og:title" content="")
  meta(property="og:description" content="")
  meta(property="og:url" content="")
  meta(property="og:image" content="")
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:title" content="")
  meta(name="twitter:description" content="")
  meta(name="twitter:url" content="")
  meta(name="twitter:image" content="")

  //- link(rel="icon" type="image/x-icon" href="/static/img/favicon.ico")
  //- link(rel="icon" type="image/png" href="/static/img/favicon.png" sizes="16x16")
  //- link(rel="icon" type="image/png" href="/static/img/favicon.png" sizes="32x32")
  script.
    (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)

