.c-header {
    @include cf ();
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    padding: 40px;
    box-sizing: border-box;
    // width: 1100px;
    // margin: 0 auto;
    color: #05789e;

    &__logo {
        float: left;
        // padding-top: 20px;
    }


    &__title {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;

        &-hidden {
            font-size: 1.2rem;
            text-indent: -9999px;
            overflow: hidden;
            // height: 150px;
            position: absolute;
            top: 50%;
            left: 0;
        }
    }

    &__contacts {
        @include cf ();
        float: right;
        // padding: 40px 0;

        &-phone {
            padding-right: 20px;
            border-right: 2px solid #05789e;
            margin-right: 20px;
            float: left;
        }

        &-mail {
            float: left;
            border-bottom: 1px solid #05789e;

            &:hover {
                border-color: transparent;
            }

            a {
                text-decoration: none;
            }
        }

        &-clork {
            clear: both;
            font-size: 2rem;
            padding-top: 20px;

            &:before {
                content: '\f017';
                font-family: FontAwesome;
                padding-right: 20px;
                font-size: 3rem;
            }
        }

        &-text {
            display: inline-block;
            font-size: 3rem;
            margin-left: 20px;
            vertical-align: middle;
            color: #05789e;   
        }

    &__text {
        font-size: 2rem;

        &--right {
            
           
            }
        }

        &--left {
            
            &:before {
                content: '\f087';
                font-family: FontAwesome;
                padding-right: 20px;
                font-size: 3rem;
            }
        }
    }
}

.c-icon {
    display: inline-block;
    font-size: 4rem;
    vertical-align: middle;

    &--bath {
        font-size: 10rem;
        // line-height: 1.5;
        // text-align: center;

    }
}