.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    color: $black;

    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-title {
            margin-left: 40px;
        }
    }

    &__nav {

        &-list {
            @include nl();
            display: flex;
            justify-content: space-between;
        }

        &-item {
            height: 38px;

            &:not(:first-child) {
                margin-left: 80px;
            }
        }

        &-link {
            display: block;
            text-decoration: none;
            font-size: 2.2rem;
            color: $black;
            font-weight: 700;
            border: 2px solid $black;
            border-radius: 5px;
            line-height: 34px;
            padding: 0 40px;

            &:hover {
                border-color: transparent;
            }
        }
    }

    &__contacts-wrap {
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--clock {
            margin-top: 20px;
            width: 100%;
            justify-content: center;
        }
    }
}

.icon {
    font-size: 4rem;
    color: $black;

    &--bath {
        font-size: 12rem;
    }
}

.title-hidden {
    font-size: 1.2rem;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 0;
}

.text-phone,
.text-clock {
    margin-left: 20px;
    font-size: 2.2rem;
    font-weight: 700;
}

.text-link--mail {
    font-size: 2.2rem;
    color: $black;
    margin-left: 20px;
    font-weight: 700;
    border-bottom: 2px solid $black;

    &:hover {
        border-color: transparent;
    }
}