mixin footer()
  footer.footer

mixin scripts()
  //- script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  //- script(src="https://unpkg.com/aos@next/dist/aos.js")
  //- script(src="https://cdn.jsdelivr.net/npm/social-likes/dist/social-likes.min.js")
  //- script(src='static/js/vendor/vendor.js')
  script(src='/static/js/main.js')
    