// File for scss-vars.
// For example: main colors, paddings and so on.

$basic-font-size: 10px;
$raleway: 'Ubuntu';

// Colors

$white: #fff;
$black: #333;
$blue: #00aaef;
$grey: #696973;
$lgrey: #eeeeee;
// $dark-blue: #202242;
// $gold: #ffe13e;

// $dark-grey: #bababa;
// $orange: #eb6209;
// $red: #e30613;


$hd: 1260px;
// $large: 1280px;
$desktop: 1024px;
$tablet: 768px;
$fablet: 640px;
$phone: 480px;
$iphone_four: 320px;
