doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/service_popup/service_popup.pug
    include ../components/teaser/teaser.pug
    include ../components/service/service.pug
    include ../components/about/about.pug
    include ../components/gallery_project/gallery_project.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body
        |%=symbols=%

        .l-grid

            .l-grid__content(id="fullpage")
                
                section.section
                    +header()
                    +teaser()
                section.section 
                    +service()
                    +service_popup()
                section.section 
                    +about()
                section.section  
                    +gallery_project()
                    +footer()