.item-details {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.item-details .item-image {
  width: max(150px, 30%);
  height: max(150px, 30%);
  border-radius: 10px;
}

.item-details .list-group-item {
  padding: .25rem;
}

.item-details .list-group-item .term{
  margin-right: .5rem;
}
