.header {
    padding: 30px 115px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include respond-to(desktop) {
        padding: 30px 45px;
    }

    @include respond-to(tablet) {
        padding: 20px 40px;
        flex-wrap: wrap;
    }

    @include respond-to(iphone_four) {
        padding: 20px;
    }

    &__nav {
        @include respond-to(fablet) {
            margin-top: 40px;
        }
    }

    &__logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
    }

    &__phone {
        font-weight: bold;

        @include respond-to(desktop) {
            width: 235px;
        }

        @include respond-to(tablet) {
            width: auto;
            margin-top: 40px;
        }

        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        } 
    }
}


.logo {

    &__img {
        width: 26px;
        height: 32px;
    }

    &__title {
        font-size: 3rem;
        color: $dark-blue;
        margin-left: 20px;

        @include respond-to(desktop) {
            font-size: 2.5rem;
        }

        @include respond-to(tablet) {}

        span {
            font-weight: bold;
        }
    }
}

.nav {

    &__list {
        @include nl();

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__item:not(:first-child) {
        margin-left: 40px;

        @include respond-to(desktop) {
            margin-left: 20px;
        }

        @include respond-to(iphone_four) {
            margin-left: 10px;
        }
    }

    &__link {
        display: block;
        font-size: 1.6rem;
        color: $dark-blue;
        text-transform: uppercase;
        text-decoration: none;

        @include respond-to(iphone_four) {
            font-size: 1.2rem;
        }

        &--active {
            color: $gold;
        }

        &:hover {
            color: $gold;
        }
    }
}

.chat-text {
    display: block;
    padding: 15px 30px;
    box-sizing: border-box;
    background-color: $gold;
    text-decoration: none;

    @include respond-to(desktop) {
        padding: 15px 15px;
    }

    @include respond-to(tablet) {
        padding: 15px 30px;
    }
}

.phone-text {
    font-size: 2.4rem;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    box-sizing: border-box;
    border-left: 1px solid $grey;

    @include respond-to(desktop) {
        font-size: 2rem;
    }

    @include respond-to(tablet) {
        font-size: 2.4rem;
    }

    @include respond-to(iphone_four) {
        font-size: 2rem;
    }
}