@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.woff2') format('woff2'),
    url('fonts/Montserrat-Bold.woff') format('woff'),
    url('fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans-Regular.woff2') format('woff2'),
    url('fonts/FiraSans-Regular.woff') format('woff'),
    url('fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
ol,
ul,
input,
button,
textarea {
  padding: 0;
  margin: 0;
}


html {
    height: 100%;
    min-height: 100%;
    font-size: 10px;
}
  

body {
    max-width: 2560px;
    margin: 0 auto;
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}
  
.site {
    font-family: 'FiraSans';
    font-size: 1.8rem;
    line-height: 150%;
    color: #262626;
}

h2 {
    font-family: 'Montserrat';
    font-size: 2.4rem;
    line-height: 150%;
    text-transform: uppercase;
}

.container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.btn-reset {
    border: none;
    background: none;
    outline: none;
}

.btn {
    display: block;
    height: 45px;
    margin-top: 20px;
    padding: 0 30px;
    border: 2px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 43px;
    text-transform: uppercase;
    background-color: #ffd303;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s all ease;
}

.btn:hover {
    border-color: #ffd303;
    background-color: transparent;
}

.btn:disabled,
.btn:disabled:hover {
    background-color: #eee;
    cursor: not-allowed;
    border: 2px solid transparent;
}

.btn-again {
    margin-left: auto;
    margin-right: auto;
}

.test {
    padding: 80px 0;
}

.test__content,
.test__result {
    display: none;
}

.test__intro-desc {
    margin-top: 40px;
}

.question__num {
    font-size: 1.4rem;
    line-height: 120%;
    text-align: center;
}

.question__title {
    margin-top: 20px;
    text-transform: initial;
}

.question__body {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.question__body-item:not(:first-child) {
    margin-left: 40px;
}

.question__img {
    width: auto;
    max-width: 40%;
    flex-shrink: 0;
}

.question__img img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.answers {
    flex-grow: 1;
    font-family: 'Montserrat';
}

.answers__help-text {
    font-size: 1.4rem;
    line-height: 120%;
}

.answers__list {
    margin-top: 10px;
}

.answers__item {
    padding: 15px 25px;
    border: 1px solid #efefef;
    font-size: 2rem;
    line-height: 120%;
    transition: 0.3s all ease;
    cursor: pointer;
}

.answers__item:not(:first-child) {
    margin-top: 5px;
}

.answers__item:hover {
    color: #ffd303;
}

.answers__item.is-correct,
.answers__item.is-correct:hover {
    color: rgb(45, 142, 45);
    border-color: rgb(45, 142, 45);
}

.answers__item.is-wrong,
.answers__item.is-wrong:hover {
    color: #d00404;
    border-color: rgb(255, 46, 5);
}

.answers__item.is-active,
.answers__item.is-active:hover {
    color: #ffd303;
    border-color: #ffd303;
}

.answers__item span{
    display: block;
    margin-top: 15px;
    font-size: 1.6rem;
    line-height: 150%;
}

.result__num {
    font-family: 'Montserrat';
    font-size: 4rem;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
}

.result__bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.result__bar-item {
    width: 20px;
    height: 20px;
    border: 1px solid #ffd303;
}

.result__bar-item:not(:first-child) {
    margin-left: 15px;
}

.result__bar-item.is-yellow {
    background-color: #ffd303;
}

.result__text {
    margin-top: 20px;
    text-align: center;
}

