mixin footer()
    footer.c-footer__content
        .c-footer__contact
            p.c-footer__text.c-footer__text--left Lorem ipsum dolor
            a.c-footer__text.c-footer__text--right(href='mailto:chudokreker@ya.ru') Почта
        .c-footer__copyright
            p.c-footer__copyright-text Copyright &copy; 2017 Lorem ipsum. All Rights Reserved.

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/vendors/scrolloverflow.js")
    script(src='%=static=%js/main%=hash=%%=min=%.js')
    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();