mixin footer()
    footer.c-footer__content
        .c-footer__contact
            p.c-footer__text.c-footer__text--left Lorem ipsum dolor
            a.c-footer__text.c-footer__text--right(href='mailto:chudokreker@ya.ru') Почта
        .c-footer__copyright
            p.c-footer__copyright-text Copyright &copy; 2017 Lorem ipsum. All Rights Reserved.

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    script(src='%=static=%js/main%=hash=%%=min=%.js')