
body {
    background: #333;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #e8e8e8;
}

html, body, .l-page {
    height: 100%;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.l-page {
    width: 940px;
    margin: 0 auto;
    /*border: 1px solid #e3e3e3;*/
}
.c-header {
    /*border: 1px solid #e3e3e3;*/


}

.c-header__menu {
    border-bottom: 2px solid #db7407;
    height: 48px;
    padding-top: 20px;
    /*border: 1px solid red;*/
}


.c-header__menu-list {
    list-style: none;
    display: table;
    width: 600px;
    table-layout: fixed;
    margin: 0 auto;
    padding-left: 0;
    /*border: 1px solid orange;*/
}

.c-header__menu-item {
    display: table-cell;
    text-align: center;
    text-transform: uppercase;
    /*border: 1px solid green;*/
}

.c-header__menu-link {
    display: block;
    line-height: 50px;
    letter-spacing: .2em;
    text-decoration: none;
    color: inherit;
}

.c-header__menu-link--active:hover, .c-paginator__link--active:hover/*, .P_N a:hover*/ {
    color: #db7407;
    transition: .9s all ease;
}


.c-header__logo {

    padding-top: 20px;
    /*border: 2px solid yellow;*/
}

.c-header__logo-img {
    width: 100%;
    display: block;
    vertical-align: bottom;
}

.l-article {
    min-height: calc(100% - 50px);
}

.c-article__screen-img {
    width: 100%;
    display: block;
    padding: 10px 0 0;
}

.c-article__title, .c-article__h2, .c-article__h3/*, h2, h3*/ {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
}

.c-article__p {
    padding: 10px 120px 0;
    text-indent: 2em;
    /*border: 1px solid orange;*/
}

.c-article__gallery {
    padding: 10px 120px 0;
    width: 700px;
    margin: 0 auto;
    /*border: 1px solid red;*/
}

/*.bxslider {*/
    /*!*border: 2px solid orangered;*!*/
    /*position: absolute;*/
    /*top: -16px;*/
/*}*/

.c-article__video {
    /*border: 1px solid greenyellow;*/
    max-width: 700px;
    height: 372px;
    margin: 0 auto;
    /*position: relative;*/
    /*height: 0;*/
    overflow: hidden;
    /*padding-bottom: 56.25%;*/

}

.c-article__video .c-article__video-iframe {
    /*border: 1px solid red;*/
    padding-top: 20px;
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    display: block;
    /*top: 0;*/
    /*left: 0;*/


}

.l-paginator {
    /*border: 1px solid tomato;*/
    margin-top: 0;
    width: 100%;
}

.c-paginator {
    display: table;
    table-layout: fixed;
    padding: 10px 120px 0;
    margin: 0;
    list-style: none;
    width: 700px;
}

.c-paginator__item {
    display: table-cell;
}

.c-paginator__link {
    color: inherit;
    text-decoration: none;
}

.l-paginator ul li:first-child {
    text-align: left;
}

.l-paginator ul li:last-child {
    text-align: right;
}

/*.l-empty {*/
    /*width: 100%;*/
    /*min-height: 1000px;*/
    /*!*border: 1px solid orangered;*!*/
/*}*/

.l-footer {
    /*border: 1px solid red;*/
    /*line-height: 50px;*/
    height: 50px;
    text-align: center;
    width: 100%;
    /*margin: 0 auto;*/
}

.c-footer__copyright {
    display: block;
    padding-top: 30px;
}



/*мобильная версия*/

@media screen and (max-width: 939px) {
    .l-page {
        width: 100%;
    }

    .c-header__menu {
        border-bottom: 2px solid #db7407;
        width: 100%;
    }

    .c-header__menu-list {
        /*width: 100%;*/
        margin: 0 auto;
        table-layout: auto;
    }

    /*.c-header__menu-item {*/
        /*border: 1px solid red;*/
    /*}*/

    .c-header__menu-link {
        font-size: 100%;
        letter-spacing: 2px;
    }

    .c-article__p {
        font-size: 85%;
        padding: 10px 5% 0;
    }

    .c-article__title, .c-article__h2, .c-article__h3 {
        font-size: 100%;
    }

    .c-article__gallery {
        width: 100%;
        padding: 10px 5% 0;
        box-sizing: border-box;
    }

   .c-article__video {
       height: 350px;
       margin: 0 5%;
    }

    /*.c-article__video-iframe {*/
        /*position: absolute;*/
        /*top: 0;*/
        /*left: 0;*/
        /*width: 100%;*/
        /*height: 100%;*/
    /*}*/

    .l-paginator {
        /*border: 1px solid red;*/
        width: 100%;
    }

    .c-paginator {
        /*border: 1px solid #ffffee;*/
        padding: 10px 5% 0;
        width: auto;

    }

    .c-paginator__item {
        /*border: 1px solid greenyellow;*/
        width: 100%;
    }
    .c-paginator__link {
        font-size: 100%;
    }



    .l-footer {
        table-layout: auto;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .c-header__menu-list {
        width: 100%;
        table-layout: auto;
    }

    .c-header__menu-link {
        font-size: 80%;
        letter-spacing: normal;
    }

    .c-article__title, .c-article__h2, .c-article__h3 {
        font-size: 80%;
    }

    .c-article__p {
        padding: 5px 5% 0;
    }

    .c-article__video {
        height: 300px;
    }

    .c-paginator {
        font-size: 80%;
    }

    .l-footer {
        font-size: 80%;
    }


}

@media screen and (max-width: 400px) {



    .c-article__video {
        height: 200px;
    }

    .c-paginator {
        font-size: 60%;
    }

    .l-footer {
        font-size: 60%;
    }
}