.footer {
    color: $white;
    background-color: rgba($dark-blue, .9);
    padding: 80px 115px 75px;

    @include respond-to(desktop) {
        padding: 60px 85px 55px;
    }

    @include respond-to(tablet) {
        padding: 40px 40px 35px;
    }

    @include respond-to(fablet) {
        padding: 40px 20px 15px;
    }

    &__contact {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond-to(iphone_four) {
            flex-direction: column;
            align-items: auto;
        }
    }

    &__map {
        position: relative;

        &-img {
            width: 820px;
            height: 409px;
            opacity: .2;

            @include respond-to(desktop) {
                width: 605px;
                height: 302px;
            }

            @include respond-to(tablet) {
                width: 500px;
                height: 255px;
            }

            @include respond-to(fablet) {
                width: 400px;
                height: 205px;
            }

            @include respond-to(phone) {
                width: 315px;
                height: auto;
            }

            @include respond-to(iphone_four) {
                width: 100%;
            }
        }
        
        &-mark {
            width: 33px;
            height: 47px;
            position: absolute;
            bottom: 128px;
            right: 170px;

            @include respond-to(desktop) {
                width: 26px;
                height: 37px;
                bottom: 95px;
                right: 125px;
            }

            @include respond-to(tablet) {
                width: 20px;
                height: 28px;
                bottom: 85px;
                right: 105px;
            }

            @include respond-to(fablet) {
                bottom: 70px;
                right: 82px;
            }

            @include respond-to(phone) {
                bottom: 55px;
                right: 65px;
            }
        }

        &-adress {
            font-size: 1.8rem;
            font-weight: bold;
            position: absolute;
            bottom: 130px;
            right: -40px;

            @include respond-to(desktop) {
                font-size: 1.6rem;
                bottom: 95px;
                right: -65px;
            }

            @include respond-to(tablet) {
                font-size: 1.4rem;
                bottom: 80px;
                right: -55px;
            }

            @include respond-to(fablet) {
                bottom: 35px;
                right: 15px;
            }

            @include respond-to(phone) {
                bottom: 15px;
                right: 0;
            }
        }
    }

    &__nav {
        text-align: right;

        @include respond-to(iphone_four) {
            width: 100%;
            margin-top: 20px;
        }

        &-title {
            font-size: 1.8rem;
            font-weight: bold;

            @include respond-to(phone) {
                font-size: 1.6rem;
            }
        }

        &-list {
            @include nl();
            margin-top: 40px;

             @include respond-to(fablet) {
                margin-top: 20px;
             }
        }

        &-item {
            padding: 10px 0;

            &:not(:first-child) {
                border-top: 1px solid rgba($white, .16);
            }
        }

        &-link {
            font-size: 1.6rem;
            color: $white;
            text-decoration: none;

            @include respond-to(phone) {
                font-size: 1.4rem;
            }
        }

    }

    &__social {
        margin-top: 40px;

         @include respond-to(fablet) {
            margin-top: 20px;
         }

        &-list {
            @include nl();
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include respond-to(iphone_four) {
                justify-content: space-around;
            }
        }

        &-link {
            display: block;
        }

        &-tw {
            background-image: url('%=static=%content/icon_tw.png');
            background-repeat: no-repeat;
            width: 17px;
            height: 13px;
        }

        &-it {
            background-image: url('%=static=%content/icon_it.png');
            background-repeat: no-repeat;
            width: 17px;
            height: 17px;
        }

        &-gg {
            background-image: url('%=static=%content/icon_gg.png');
            background-repeat: no-repeat;
            width: 16px;
            height: 18px;
        }
    }

    &__anchor-top {
        display: block;
        margin-top: 60px;
        font-size: 1.2rem;
        color: $white;
        text-decoration: none;

         @include respond-to(fablet) {
            margin-top: 30px;
         }
    }

    &__copyright {
        text-align: center;

        @include respond-to(iphone_four) {
            margin-top: 20px;
        }

        &-img {
            width: 31px;
            height: 30px;
            margin: 0 auto;
        }

        &-text {
            margin-top: 20px;
            font-size: 1.4rem;
        }
    }
}