doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body
        |%=symbols=%

        .l-grid
            +header()

            .teaser
                p.teaser__title Just a Proffesional Web Hosting Services
                p.teaser__subtitle modern  -  fast  -  reliable
                .teaser__img
                    img(src="%=static=%img/content/molecul.png")
            .services
                .webhost
                    .webhost__img
                        img(src='%=static=%img/content/img_webhost.png')
                    p.webhost__subtitle #1 Webhost Services
                    p.webhost__text.text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                    a.btn(href='#') More
                .domain
                    p.domain__title .com
                    p.domain__subtitle #1 Domain Services
                    p.domain__text.text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                    a.btn(href='#') More
            .features
                p.features__title Our Features
                p.features__subtitle Our Best Features
                .features__list
                    .features__item
                        .features__item-img
                            img(src="%=static=%img/content/img_support.png")
                        p.features__item-title Live Support
                        p.features__item-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                    .features__item
                        .features__item-img
                            img(src="%=static=%img/content/img_cloud.png")
                        p.features__item-title Cloud Technology
                        p.features__item-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                    .features__item
                        .features__item-img
                            img(src="%=static=%img/content/img_tech.png")
                        p.features__item-title Hi Tech Database
                        p.features__item-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                    .features__item
                        .features__item-img
                            img(src="%=static=%img/content/img_monitor.png")
                        p.features__item-title Live Monitoring
                        p.features__item-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.

            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')