doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body
        |%=symbols=%

        .l-grid
            +header()

            .teaser
                p.teaser__title Just a Proffesional Web Hosting Services
                p.teaser__subtitle modern  -  fast  -  reliable
                .teaser__img
                    img(src="%=static=%img/content/molecul.png")
            .services
                .webhost
                    .webhost__img
                        img(src='%=static=%img/content/img_webhost.png')
                    p.webhost__subtitle #1 Webhost Services
                    p.webhost__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh
                    a.btn(href='#') More
                .domain
                    p.domain__title .com
                    p.domain__subtitle #1 Domain Services
                    p.domain_text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh
                    a.btn(href='#') More

            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')