// Common styles of the project

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-size: $basic-font-size;
}

html, body,
p, h1, h2, h3, h4, h5,
ol, ul,
input, button, textarea {
    padding: 0;
    margin: 0;
}

body {
    font-family: $raleway;
    position: relative;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    width: 100%;
    height: auto;
}

.l-grid {
    width: 1400px;
    margin: 0 auto;

    @include respond-to(large) {
        width: 1260px;
    }

    @include respond-to(desktop) {
        width: 980px;
    }

    @include respond-to(tablet) {
        width: 100%;
    }
}

.text {
    font-size: 1.4rem;
    color: $dark-blue;

    &--small {
        font-size: 1.2rem
    }
}

.teaser {
    width: 100%;
    height: 793px;
    background-image: url('%=static=%content/teaser.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 230px;
    box-sizing: border-box;

    @include respond-to(desktop) {
        padding-top: 170px;
        height: 733px;
        background-position: 50%;
    }

    @include respond-to(tablet) {
        padding-top: 100px;
        height: 520px;
    }

    @include respond-to(fablet) {
        padding-top: 60px;
        height: 440px;
    }

    &__title {
        color: $white;
        font-size: 4.8rem;

        @include respond-to(tablet) {
            font-size: 3.8rem;
        }

        @include respond-to(fablet) {
            font-size: 2.8rem;
        }

        @include respond-to(iphone_four) {
            font-size: 2.4rem
        }
    }

    &__subtitle {
        color: $white;
        font-size: 3rem;
        margin-top: 40px;

        @include respond-to(tablet) {
            font-size: 2rem;
            margin-top: 20px;
        }

        @include respond-to(iphone_four) {
            font-size: 1.8rem;
        }
    }

    &__img {
        width: 102px;
        height: 110px;
        margin: 60px auto;

        @include respond-to(tablet) {
            width: 80px;
            height: 86px;
            margin: 40px auto;
        }
    }
}

.services {
    display: flex;
    justify-content: space-around;

    @include respond-to(phone) {
        display: block;
    }
}

.webhost {
    background-color: $dark-blue;
    width: 50%;
    padding: 115px 85px 100px 185px;
    box-sizing: border-box;
    text-align: center;

    @include respond-to(desktop) {
        padding: 85px 55px 70px 125px;
    }

    @include respond-to(tablet) {
        padding: 40px 35px 25px 75px;
    }

    @include respond-to(fablet) {
        padding: 40px 20px 25px 25px;
    }

    @include respond-to(phone) {
        width: 100%;
    }

    &__subtitle {
        color: $white;
        font-size: 3.6rem;
        font-weight: bold;
        margin-top: 60px;

        @include respond-to(tablet) {
            font-size: 2.6rem;
            margin-top: 40px;
        }
    }

    &__text {
        color: $white;
        margin-top: 30px;
        line-height: 1.5;

        @include respond-to(tablet) {
            margin-top: 20px;
        }
    }

    &__img {
        width: 168px;
        height: 169px;
        margin: 0 auto;

        @include respond-to(desktop) {
            width: 145px;
            height: 146px;
        }

        @include respond-to(tablet) {
            width: 110px;
            height: 112px;
        }
    }
}

.domain {
    background-color: $gold;
    width: 50%;
    padding: 130px 185px 100px 85px;
    box-sizing: border-box;
    text-align: center;

    @include respond-to(desktop) {
        padding: 85px 125px 70px 55px;
    }

    @include respond-to(tablet) {
        padding: 40px 75px 25px 35px;
    }

    @include respond-to(tablet) {
        padding: 40px 25px 25px 20px;
    }

    @include respond-to(phone) {
        width: 100%;
    }

    &__title {
        font-size: 13.4rem;
        font-weight: bold;
        color: $dark-blue;

        @include respond-to(desktop) {
            font-size: 12.4rem;
        }

        @include respond-to(tablet) {
            font-size: 9.4rem;
        }
    }

    &__subtitle {
        color: $white;
        font-size: 3.6rem;
        font-weight: bold;
        margin-top: 60px;

        @include respond-to(tablet) {
            font-size: 2.6rem;
            margin-top: 40px;
        }
    }

    &__text {
        color: $white;
        margin-top: 30px;
        line-height: 1.5;
    }
}

.btn {
    display: block;
    text-decoration: none;
    color: $white;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 50px;
    width: 155px;
    height: 56px;
    margin: 40px auto 0;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid $white;
}

.features {
    padding: 95px 115px;
    box-sizing: border-box;
    background-image: url('%=static=%content/bg_features.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: $dark-blue;

     @include respond-to(desktop) {
        padding: 65px 85px;
        background-position: 50%;
     }

     @include respond-to(tablet) {
        padding: 40px;
     }

     @include respond-to(fablet) {
        padding: 40px 20px;
     }

    &__title {
        font-size: 4.8rem;
        font-weight: bold;

        @include respond-to(tablet) {
            font-size: 3.8rem;
        }
    }

    &__subtitle {
        font-size: 2.4rem;
        margin-top: 30px;

        @include respond-to(tablet) {
            font-size: 2rem;
            margin-top: 20px;
        }
    }

    &__list {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;

        @include respond-to(tablet) {
            margin-top: 40px;
        }

        @include respond-to(phone) {
            flex-direction: column;
        }
    }

    &__item {
        text-align: center;

        &:not(:first-child) {
            margin-left: 60px;

            @include respond-to(tablet) {
                margin-left: 20px;
            }

            @include respond-to(phone) {
                margin-left: 0;
                margin-top: 40px;
            }
        }

        &-img {
            width: 128px;
            height: 128px;
            display: inline-block;

            @include respond-to(tablet) {
                width: 90px;
                height: 90px;
            }
        }

        &-title {
            margin-top: 35px;
            padding-top: 35px;
            font-size: 2.8rem;
            color: $gold;
            position: relative;

            @include respond-to(tablet) {
                font-size: 2rem;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 69px;
                height: 3px;
                background-color: $dark-blue;
                opacity: .5;
            }
        }

        &-text {
            margin-top: 30px;
            font-size: 1.4rem;
            line-height: 1.5;

            @include respond-to(tablet) {
                margin-top: 20px;
            }
        }
    }
}

.clients {
    padding: 115px 90px;
    box-sizing: border-box;

     @include respond-to(desktop) {
        padding: 65px 60px;
     }

     @include respond-to(tablet) {
        padding: 40px 40px 65px;
     }

     @include respond-to(fablet) {
        padding: 40px 20px 65px;
     }

    &__info-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @include respond-to(tablet) {
            display: block;
        }
    }

    &__title {
        font-size: 3.6rem;
        color: $dark-blue;

         @include respond-to(desktop) {
            font-size: 2.6rem;
         }
    }

    &__text {
        margin-top: 30px;
        font-size: 1.6rem;
        color: #adadad;
        line-height: 1.5;

        @include respond-to(tablet) {
            margin-top: 20px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 75px;

        @include respond-to(desktop) {
            margin-left: 45px;
        }

        @include respond-to(tablet) {
            margin-left: 0;
            margin-top: 40px;
        }

        @include respond-to(phone) {
            flex-wrap: wrap;
        }

        @include respond-to(iphone_four) {
            display: block;
        }
    }

    &__item {
        width: 172px;
        height: 115px;

        &:not(:first-child) {
            margin-left: 30px;

            @include respond-to(desktop) {
                margin-left: 20px;
            }

            @include respond-to(phone) {
                margin-left: 0;
            }
        }

        @include respond-to(desktop) {
            width: 120px;
            height: 80px;
        }

        @include respond-to(phone) {
            width: 48%;
            height: auto;
            margin-top: 20px;
        }

        @include respond-to(iphone_four) {
            width: 100%;
        }
    }

    &__quote-list {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;

        @include respond-to(desktop) {
            margin-top: 40px;
        }

        @include respond-to(phone) {
            flex-direction: column;
        }
    }

    &__quote-item {
        padding: 30px 20px;
        box-sizing: border-box;
        background-color: #f5f3f3;
        position: relative;

        &:not(:first-child) {
            margin-left: 30px;

            @include respond-to(fablet) {
                margin-left: 20px;
            }

            @include respond-to(phone) {
                margin-left: 0;
                margin-top: 60px;
            }
        }
    }

    &__quote-text {
        font-size: 1.4rem;
        line-height: 1.5;
        color: #a4a4a4;
        font-style: italic;

        @include respond-to(fablet) {
            font-size: 1.2rem;
        }

        @include respond-to(phone) {
            font-size: 1.4rem;
        }
    }

    &__quote-sign {
        margin-top: 25px;
        font-size: 1.6rem;
        font-weight: bold;
        color: #696969;
    }

    &__quote-user {
        position: absolute;
        right: 20px;
        bottom: -50px;
        width: 100px;
        height: 100px;

        @include respond-to(fablet) {
            right: 10px;
        }

        @include respond-to(phone) {
            right: 20px;
        }
    }
}

.plans {
    padding: 100px 185px 90px;
    box-sizing: border-box;
    background-color: $dark-blue;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include respond-to(desktop) {
        padding: 60px 100px 50px;
    }

    @include respond-to(tablet) {
        padding: 40px 40px 30px;
    }

    @include respond-to(fablet) {
        padding: 40px 20px 30px;
    }

    @include respond-to(iphone_four) {
        flex-direction: column;
    }

    &__wrap {
        @include respond-to(phone) {
            width: 295px;
        }

        @include respond-to(iphone_four) {
            width: 100%;
        }
    }

    &__title {
        font-size: 3.6rem;
        color: $white;
        font-weight: bold;

        @include respond-to(desktop) {
            font-size: 2.6rem;
        }

        @include respond-to(tablet) {
            font-size: 2rem;
        }

        @include respond-to(phone) {
            font-size: 1.8rem;
        }
    }

    &__subtitle {
        margin-top: 20px;
        font-size: 1.8rem;
        color: #67687b;

        @include respond-to(phone) {
            font-size: 1.4rem;
        }
    }

    &__btn {
        display: block;
        padding: 30px 50px;
        box-sizing: border-box;
        font-size: 1.8rem;
        color: $dark-blue;
        font-weight: bold;
        text-decoration: none;
        background-color: $gold;
        border: 4px solid $white;

        @include respond-to(desktop) {
            padding: 30px;
            font-size: 1.6rem;
        }

        @include respond-to(tablet) {
            padding: 20px;
        }

        @include respond-to(phone) {
            padding: 10px;
            font-size: 1.4rem;
        }

        @include respond-to(iphone_four) {
            margin-top: 20px;
        }
    }
}

.form {
    display: flex;
    border: 18px solid rgba(#ddd, .5);
    width: 570px;
    box-sizing: border-box;
    margin: 0 auto;

    @include respond-to(phone) {
        width: 440px;
    }

    @include respond-to(iphone_four) {
        width: 300px;
        border-width: 10px;
    }

    &__input {
        display: block;
        width: 50%;
        border: none;
        font-size: 1.8rem;
        color: #2d2d2d;
        padding: 25px 25px 20px;
        box-sizing: border-box;

        @include respond-to(phone) {
            font-size: 1.6rem;
            padding: 15px 15px 10px;
        }

        @include respond-to(iphone_four) {
            font-size: 1.2rem;
            padding: 10px 5px 5px;
            width: 46%;
        }
    }

    &__select-wrap {
        width: 20%;
        border-right: 1px solid $white;
        overflow: hidden;
        background-color: $gold;
        background-image: url('%=static=%content/arrow_down.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 75px 32px;

        @include respond-to(phone) {
            background-position: 60px 22px;
        }

        @include respond-to(iphone_four) {
            background-position: 40px 15px;
            background-size: 11px;
        }
    }

    &__select {
        border: none;
        box-shadow: none;
        width: 100%;
        background-color: transparent;
        background-image: none;
        padding: 25px 20px 20px;
        box-sizing: border-box;  
        -webkit-appearance: none;
        cursor: pointer;
        font-size: 1.8rem;
        color: #2d2d2d;
        font-weight: bold;

        @include respond-to(phone) {
            padding: 15px 15px 10px;
            font-size: 1.6rem;
        }

        @include respond-to(iphone_four) {
            padding: 10px 5px 5px;
            font-size: 1.2rem;
        }
        

        &:focus {
            outline: none;
        }
    }

    &__option {
        font-weight: bold;
    }

    &__submit {
        display: block;
        width: calc(30% + 1px);
        background-color: $gold;
        border: none;
        font-size: 1.4rem;
        color: $white;
        font-weight: bold;
        padding: 25px 17px 20px;
        box-sizing: border-box;

        @include respond-to(phone) {
            padding: 15px 10px 10px;
            font-size: 1.2rem;
        }

        @include respond-to(iphone_four) {
            padding: 10px 5px 5px;
            font-size: 1rem;
            width: calc(34% + 1px);
        }
    }
}