// File for scss-vars.
// For example: main colors, paddings and so on.

$basic-font-size: 10px;
$raleway: 'Raleway';

// Colors

$white: #fff;
$black: #333;
$dark-blue: #202242;
$gold: #ffe13e;
$grey: #babbc4;
// $dark-grey: #bababa;
// $orange: #eb6209;
// $red: #e30613;


$hd: 1440px;
$large: 1280px;
$desktop: 1024px;
$tablet: 768px;
$fablet: 640px;
$phone: 480px;
$iphone_four: 320px;
