mixin footer()
  footer.footer

mixin scripts()
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='/static/js/libs/jquery.min.js')
  script(src='/static/js/libs/social-likes.min.js')
  //- script(src='/static/js/vendor/vendor.js')
  script(src='/static/js/main.js')
    