@import "variables";
@import "mixins";

html, body {
  width: 100%;
  min-height: 100%;
  font-size: $basic-font-size;
}

body {
  font-family: $ptSans;
  color: $white;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

html, body,
p, h1, h2, h3, h4, h5,
ol, ul,
input, button, textarea {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
