.c-service__popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1160px;
    width: 800px;
    background-color: $white;
    // overflow: hidden;

    &-close {
        display: block;
        background-image: url('%=static=%content/cross-slider.png');
        width: 19px;
        height: 19px;
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 20;
    }

    &-img {
        display: block;
        height: 400px;
    }

    &-content {
        height: 400px;
        padding: 20px 40px;
        box-sizing: border-box;
        color: $black;
    }

    &-title {
        font-size: 2.5rem;
        font-weight: bold;
        
    }

    &-text {
        font-size: 1.8rem;
        padding-top: 20px;
        padding-right: 20px;
        height: 290px;
        overflow: auto;
    }
}

.l-service__popup {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    z-index: -1;
    opacity: 0;
    transition: all ease .3s;

    &--active {
        z-index: 900;
        opacity: 1;
    }
}