// File for scss-vars.
// For example: main colors, paddings and so on.

//Fonts

$basic-font-size: 10px;
$opensans: 'Open Sans';

//Colors

$black: #333;
$white: #f3f3f3;

//Dimensions

$large: 1280px;
$desktop: 1024px;
$tablet: 768px;
$fablet: 580px;
$phone: 360px;