mixin card_item(className, href, img, altName, title)
	li.card-item(class= className ? ('card-item--' + className) : '')
		a.card-item__link(href= href, target="_blank")
			img.card-item__img(src='__static__/img/content/project/' + img, alt= altName)
			h2.card-item__title!= title