include ../layouts/head/head
include ../layouts/content/index
include ../layouts/components/header
include ../layouts/components/footer

doctype html
html(lang='ru')
  head
    +head()

  body
    .site.page-main
      +header
      main.content
        +content
        img(src=require('@content/001.jpg') alt="")
      +footer
