mixin footer()
    footer.footer
        p.footer__copyright Маркин А.С. &copy; 2017-2018

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')