// Common styles of the project

html, body {
    width: 100%;
    min-height: 100%;
}

html {
    font-family: $glober, Helvetica, sans-serif;
    color: $black;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $white;
}

html, body,
p, h1, h2, h3, h4, h5,
ol, ul,
input, button, textarea {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}