
@font-face {
    font-family: 'glober';
    src: url("../fonts/GloberRegular.woff2") format("woff2"),
         url("../fonts/GloberRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'glober';
    src: url("../fonts/GloberBold.woff2") format("woff2"),
         url("../fonts/GloberBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}