// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

// You can add your own mixins here:

@mixin respond-to($media) {
    @if $media == phone {
        @media only screen and (max-width: $phone) { @content; }
    }
    @else if $media == fablet {
        @media only screen and (max-width: $fablet) { @content; }
    }
    @else if $media == smallTablet {
        @media only screen and (max-width: $smallTablet) { @content; }
    }
    @else if $media == tablet {
        @media only screen and (max-width: $tablet) { @content; }
    }
    @else if $media == desktop {
        @media only screen and (max-width: $desktop) { @content; }
    }
    @else if $media == largeScreen {
        @media only screen and (max-width: $largeScreen) { @content; }
    }
    @else {
        @media only screen and (max-width: $media) { @content; }
    }
}