mixin gallery_project()
	.c-gallery-project
		p.c-gallery-project__title.
				Фотогалерея
		.c-gallery-project__image
			a.js-lightbox-img(href='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
				img(src='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg' alt='ремонт ванной комнаты')
			a.js-lightbox-img(href='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
				img(src='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
			a.js-lightbox-img(href='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
				img(src='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
			a.js-lightbox-img(href='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
				img(src='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
		p.c-gallery-project__text.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget dapibus orci, in fermentum nunc.
		.c-gallery-project__image.js-lightbox-img
			a.js-lightbox-img(href='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
				img(src='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
			a.js-lightbox-img(href='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
				img(src='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
			a.js-lightbox-img(href='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
				img(src='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
			a.js-lightbox-img(href='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
				img(src='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
		p.c-gallery-project__text.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget dapibus orci, in fermentum nunc.