mixin gallery_project()
    .c-gallery-project__wrap
        p.c-gallery-project__title.
                Фотогалерея
        .c-gallery-project.js-magnific-popup
            .c-project__img
                a(href='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
                    img(src='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg' alt='ремонт ванной комнаты')
            .c-project__img
                a(href='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
                    img(src='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
            .c-project__img
                a(href='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
                    img(src='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
            .c-project__img
                a(href='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
                    img(src='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
        p.c-gallery-project__text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget dapibus orci, in fermentum nunc.
        .c-gallery-project.js-magnific-popup
            .c-project__img
                a(href='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
                    img(src='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
            .c-project__img
                a(href='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
                    img(src='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
            .c-project__img
                a(href='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
                    img(src='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
            .c-project__img
                a(href='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
                    img(src='http://5masterov.ru/wp-content/gallery/vannaya-pod-klyuch/vannaya-pod-klyuch.02.jpg')
        p.c-gallery-project__text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget dapibus orci, in fermentum nunc.