.c-gallery-project {

	margin-top: 20px;
	padding-top: 20px;
	background-color: $grey;

	&__title {
		text-align: center;
		font-size: 3rem;
		color: $black;
		font-weight: bold;
	}

	&__image {
		margin-top: 40px;
		text-align: center;

		a {
			display: inline-block;
			width: 15%;
			outline: none;

			&:not(:last-child) {
				margin-right: 30px;
			}
		}

		

		img {

			&:hover {
            transform: scale(1.1)
        	}
		}
	}

	&__text {
		padding: 20px 0;
		font-size: 1.6rem;
		color: $black;
		text-align: center;
		// font-weight: bold;
	}
}