.header {
  padding-left: 10px;
}

.header ul li {
  list-style: none;
  margin: 0;
}

.header a:hover {
  text-decoration: none;
}

.header h3 a {
  color: white;
}

.header h3 a:hover {
  color: #00bc8c;
}

.header li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.header li a.active,
.header li a:hover {
  background-color: #444;
  text-decoration: none;
}

@media only screen and (max-width: 479px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header ul {
    padding-left: 0;
  }
}
