mixin about()
    section.c-about__content
        img.c-about__img(src='http://moresan.com.ua/images/_catalog/original/c9ee285d8803e1a5e6d18d357d4c3aa3.jpg')
        .c-about__title
            p.c-about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            p.c-about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            p.c-about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            p.c-about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            p.c-about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            p.c-about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            p.c-about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            