mixin service()
	section.c-service__content 
		h4.c-service__title lorem ipsum
		.c-service__list
			.c-service__items
				p.c-service__items-title Lorem
				img.c-service__items-img(src='http://remontidekor.ru/wp-content/uploads/2014/07/Dizajn-malenkogo-tualeta4.jpg')
				p.c-service__items-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodLorem ipsum dolor sit amet, consectetur
				a.c-service__items-button.js-service-items(href='#').
					Далее

			.c-service__items
				p.c-service__items-title Lorem
				img.c-service__items-img(src='http://pik-plitka.ru.opt-images.1c-bitrix-cdn.ru/images/5-2.jpg?146012246939176')
				p.c-service__items-text tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,tempor incididunt ut labore et dolore magna aliqua.
				a.c-service__items-button.js-service-items(href='#').
					Далее
			.c-service__items
				p.c-service__items-title Lorem
				img.c-service__items-img(src='http://почемуже.рф/wp-content/uploads/2016/05/ad6d23c55fa057dbb8a3.jpg')
				p.c-service__items-text quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoquis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoquis nostrud exercitation ullamco laboris nisi
				a.c-service__items-button.js-service-items(href='#').
					Далее