.c-service {
	&__content {
		background-color: $grey;
		padding-bottom: 20px;
		padding-top: 20px;
	}

	&__title {
		text-align: center;
		padding-bottom: 40px;
		font-size: 3rem;
		font-weight: bold;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
		width: 1000px;
		margin: 0 auto;
	}

	&__items {
		border: 1px solid $grey;
		width: 300px;
		background-color: $white;
		box-sizing: border-box;
		font-size: 1.6rem;
		color: $black;
		
		&-title {
			background-color: $white;
			padding: 20px 0;
			text-align: center;
			font-size: 1.8rem;
			font-weight: bold;
		}

		&-text {
			padding: 10px 20px;
			height: 160px;
		}

		&-button {
			display: block;
			margin-bottom: 20px;
    		text-align: center;
    		color: $black;
		}
	}
}