.c-service {
	&__content {
		background-color: $grey;
		padding-bottom: 20px;
	}

	&__title {
		text-align: center;
		padding-bottom: 40px;
		font-size: 3rem;
		font-weight: bold;
	}

	&__content-list {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
		width: 900px;
		margin: 0 auto;
	}

	&__items {
		// height: 150px;
		border: 1px solid $grey;
		width: 250px;
		background-color: $white;
		text-align: center;
		box-sizing: border-box;

		&-title {
			background-color: $white;
			padding: 20px 0;
		}
	}
}