mixin service()
	section.service__content
		h4.service__title lorem ipsum
		.service__content-list
			p.service__items Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			p.service__items tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			p.service__items quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo