include ../layouts/head/head.pug
include ../layouts/components/header.pug
include ../layouts/components/footer.pug

doctype html
html(lang="ru")
  head
    +head('Main')

  body
    .site
      +header
      main.content
        //- .container
        h1 hello world
      +footer
    //- Main scripts
    //- script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    //- script(src='static/js/vendor/vendor.js')
    script(src='static/js/main.js')