include ../layouts/head/head.pug
include ../layouts/components/header.pug
include ../layouts/components/footer.pug

doctype html
html(lang="ru")
  head
    +head('Main')

  body
    .site
      +header
      main.content
        //- .container
        h1 hello world
      +footer
    //- Main scripts
    +scripts