mixin gallery()
    .c-gallery
        .c-gallery-slider
            img(src='http://remortira.ru/wp-content/uploads/2014/06/dizajn-vanny-i-tualeta.jpg')
            img(src='http://www.migstroyservis.ru/wp-content/uploads/2015/09/wefqk7b3fxq.jpg')
            img(src='http://interiorno.ru/wp-content/uploads/2015/10/remont-vannoy-i-tualeta-variantyi-dizayna-14.jpg')
            img(src='http://gidpostroyki.ru/wp-content/gallery/remont-vannoj-i-tualeta-foto/remont-vannoj-komnaty-i-tualeta-svoimi-rukami.jpg')
            img(src='http://remont-vtule.ru/tualer/volkiria.jpg')
            img(src='http://remsanuzel.ru/upload/medialibrary/ffd/ffdefdb4028e3263fbead03683bfb402.jpg')