doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.body
        | %=symbols=%

        .l-grid
            section.l-section
                article.article.article--blue.article--blue-header
                    button.menu-icon
                        img.menu-icon__img(src='%=static=%img/general/menu-icon.svg')
                    button.btn.btn--orange.btn--scroll.js-goto
                        p.btn__text Scroll down
                    nav.menu
                        button.menu__icon-close
                            img.menu__icon-img(src='%=static=%img/general/icon-close-white.svg')
                        .menu__list
                            p.menu__item.
                                В последние несколько лет японские издатели видеоигр кардинально пересмотрели своё отношение к западному рынку. Старые консольные хиты переиздают на новых платформах, в Steam потоком хлынули визуальные новеллы и JRPG, о которых раньше фанаты могли лишь мечтать. Да что там, в Steam даже появилось аниме.
                            p.menu__item.
                                Однако так было отнюдь не всегда. Например, около половины библиотеки игр для Sony PlayStation и Sega Dreamcast так и не получили западного релиза. Приходилось либо заказывать игру из Японии и как-то проходить её без знания языка, либо ждать фанатский перевод.
                            p.menu__item.
                                Собрали несколько интересных игр, которые так и не были изданы за пределами Японии по самым разным причинам.
                article.article.article--green
                    .article__faq-list
                        .article__faq-item
                            a.article__faq-link.js-faq-link(href="#") Что такое майнинг
                            p.article__faq-desc.
                                Майнинг, также добыча (от англ. mining — добыча полезных ископаемых) — деятельность по поддержанию распределенной платформы и созданию новых блоков с возможностью получить вознаграждение в форме новых единиц и комиссионных сборов в различных криптовалютах, в частности в Биткойн.
                        .article__faq-item
                            a.article__faq-link.js-faq-link(href="#") Что такое филумения
                            p.article__faq-desc.
                                Филумени́я — коллекционирование спичечных этикеток, коробков, буклетов (спичек-книжечек), самих спичек и других предметов, связанных со спичками. Коллекционеров спичечных этикеток и т. п. называют филуменистами.
                article.article.article--blue.article--blue-footer
                    button.btn.btn--orange.btn--popup(id='targetScroll')
                        p.btn__text Открыть попап
                article.article.article--popup.js-popup
                    .popup
                        button.popup__icon-close
                            img.popup__icon-img(src='%=static=%img/general/icon-close-black.svg')
                        .popup__content
                            h2.popup__content-title Ihatovo Monogatari
                            p.popup__content-text.
                                Кендзи Миядзава считается одним из наиболее важных японских поэтов и прозаиков XX века. Его вклад в японскую литературу сравним со вкладом Михаила Булгакова и Алексея Толстого в русскую. Жизни писателя посвящены многотомные труды, его философские сказочные произведения изучают в школах, по ним снимают полнометражные фильмы, документальные работы и аниме.
                            p.popup__content-text.
                                Но в США и Европе Миядзава практически неизвестен. В России избранное собрание его сочинений вышло чрезвычайно маленьким тиражом и больше не переиздавалось. Поэтому нет ничего удивительного в том, что «История об Ихатово» за пределы Японии не выбралась.



            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        script(src='https://code.jquery.com/jquery-2.2.4.min.js' integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=' crossorigin='anonymous')

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
